html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include reset-mp;
  @include font($size: 16px);
}

.wrapper {
  position: relative;
  max-width: 1680px;
  margin: 0 auto;
  overflow-x: hidden;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    overflow-x: hidden;
  }
}

.brighter-text {
  color: #7d7d7d;
}

.woody {
  color: $woody;
}

.line-through {
  text-decoration: line-through $woody;
  // text-decoration-color: $woody;
}
