@mixin clearfix {
  content: "";
  clear: both;
  display: table;
}

@mixin reset-mp {
  margin: 0;
  padding: 0;
}

@mixin font($name: $regular-font, $size: 16px, $color: $text-color, $lh: 25px) {
  font-family: $name, "Helvetica", "Arial", sans-serif;
  font-size: $size;
  color: $color;
  line-height: $lh;
}

@mixin reset-list {
  @include reset-mp;
  list-style: none;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin customize-legend($margin: -5%, $padding: 10%, $color: lightgreen) {
  color: $color;
  padding-right: $padding;
  margin: $margin;
}

@mixin remove-fieldset-borders($color: lightgreen) {
  border: none;
  border-top: 1px solid $color;
}

@mixin reset-link($color: black) {
  color: $color;
  text-decoration: none;
}

@mixin fill-and-align($color: lightgreen, $align: center) {
  fill: $color;
  align-self: $align;
}

@mixin border($color: black) {
  border: 1px solid $color;
}

@mixin long-dash($width: 80px) {
  @include pseudo;
  width: $width;
  border-top: 1px solid black;
}

@mixin short-dash($width: 25px) {
  @include pseudo;
  width: $width;
  border-top: 2px solid $woody;
}
