.more-link {
  @include reset-link;
  position: relative;
  text-transform: uppercase;
  user-select: none;
  transition: opacity 250ms;

  &::after {
    @include short-dash;
    border-width: 2px;
    width: 35px;
    left: 0;
    top: 14px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.more-link__icon {
  display: inline-block;
  width: 36px;
  height: 11px;
  margin-left: 5px;
  background: url("../img/ic-arrow-woody.png") no-repeat;
  background-position: 0 2px;
}
