$regular-font: "Metropolis";
$bold-font: "Metropolis Bold";

$text-color: #464646;
$woody: #bea67c;

$tablet: 768px;
$desktop: 1200px;

$logo-fsize: 36px;
$header-fsize: 100px;
$title-fsize: 48px;
$menu-fsize: 20px;
$button-fsize: 20px;
$text-fsize: 18px;
$vid-fsize: 20px;
