.footer {
  position: relative;
  padding: 20px 15px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url("../img/img-footer-background.jpg") no-repeat;
    background-size: 1200px 800px;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.1);

    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      background-image: url("../img/img-footer-background-filtered.jpg");
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #a0a0a0;
    width: 100%;
    height: 100%;
  }

  .footer__wrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copyright {
    font-size: 10px;
    line-height: 14px;
    flex-basis: 30%;
    text-transform: uppercase;
    @include border(transparent);
    border-width: 3px;
  }

  .footer__logo-wrapper {
    position: relative;

    &::after {
      @include pseudo;
      top: 10px;
      left: 25px;
      width: 33px;
      border-top: 3px solid $woody;
    }
  }

  .footer__logo {
    @include reset-link;
    @include font($name: $bold-font, $size: $logo-fsize * 0.6, $color: #ffffff);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }

  .footer__author {
    flex-basis: 30%;
    text-align: right;
    line-height: 10px;
  }

  .footer__author-link {
    @include reset-link;
    font-size: 10px;
    color: $text-color;
    cursor: pointer;
  }
}

@media (min-width: $tablet) {
  .footer {
    padding: 30px 50px;

    .footer__copyright {
      font-size: 14px;
    }

    .footer__logo-wrapper {
      &::after {
        left: 36px;
        width: 47px;
      }
    }

    .footer__logo {
      font-size: $logo-fsize * 0.8;
      letter-spacing: 3px;


    }

    .footer__author {
      line-height: 22px;
    }

    .footer__author-link {
      font-size: 14px;
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    margin: 0 auto;
    max-width: 1680px;
    padding: 50px;

    &::before {
      background-size: 1680px 1260px;
    }

    .footer__copyright {
      font-size: 18px;
    }

    .footer__logo-wrapper {
      &::after {
        left: 46px;
        width: 54px;
      }
    }

    .footer__logo {
      font-size: $logo-fsize;
      letter-spacing: 5px;
    }

    .footer__author-link {
      font-size: 18px;
    }
  }
}
