.footer {
  position: relative;
  padding: 20px 15px;
  // background-color: #020202;
  // z-index: -2;


  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url("../img/img-footer-background.jpg") no-repeat;
    background-size: 1200px 800px;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.1);
    // @include border(red);
  }

  .footer__wrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copyright {
    font-size: 10px;
    line-height: 14px;
    flex-basis: 30%;
    text-transform: uppercase;
    @include border(transparent);
    border-width: 3px;
  }

  .footer__logo {
    @include reset-link;
    @include font($name: $bold-font, $size: $logo-fsize * 0.6, $color: #ffffff);
    flex-basis: 40%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }

  .footer__author {
    flex-basis: 30%;
    text-align: right;
  }

  .footer__author-link {
    @include reset-link;
    font-size: 10px;
    line-height: 14px;
    color: $text-color;
    cursor: pointer;
    // @include border(white);
    z-index: 10;
  }
}

@media (min-width: $tablet) {
  .footer {
    padding: 30px 50px;

    .footer__copyright {
      font-size: 14px;
    }

    .footer__logo {
      font-size: $logo-fsize * 0.8;
    }

    .footer__author-link {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

@media (min-width: $desktop) {
  .footer {
    margin: 0 auto;
    max-width: 1680px;
    padding: 50px;

    &::before {
      background-size: 1680px 1260px;
    }

    .footer__copyright {
      font-size: 18px;
    }

    .footer__logo {
      font-size: $logo-fsize;
    }

    .footer__author-link {
      font-size: 18px;
    }
  }
}
