.footer {
  position: relative;
  padding: 15px 20px;
  // color: white;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: url("../img/img-footer-background.jpg") no-repeat;
    background-size: 1200px 800px;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.1);
    // @include border(red);
  }

  .footer__wrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copyright {
    flex-basis: 30%;
  }

  .footer__logo {
    flex-basis: 40%;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
  }

  .footer__author {
    flex-basis: 30%;
    text-align: right;
  }
}
