.header {
  position: relative;
  // background-color: #acacac;
  padding-top: 10px;
  padding-bottom: 50px;
  background: url("../img/header-background-2.jpg") no-repeat;
  background-size: cover;

  .header__menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 14px;
    background: url("../img/icon-menu-open.svg") no-repeat;
  }

  .header__logo {
    @include font($size: 20px, $color: white);
    text-transform: uppercase;
  }

  .header__menu {
    @include flex-row;
    justify-content: center;
  }

  .header__nav {
    display: none;
  }

  .header__nav-list {
    @include reset-list;
  }

  .header__info-lang {
    @include flex-row;
    position: absolute;
    top: 10px;
    right: 10px;
    // @include border;
  }

  .header__info-btn {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-right: 5px;
    background: url("../img/ic-info.png") no-repeat;
  }

  .header__lang-list {
    @include reset-list;
  }

  .header__lang-item {
    &:not(:first-child) {
      display: none;
    }
  }

  .header__jumbo {
    @include flex-column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    // @include border(red);
  }

  .header__title {
    color: $woody;
    text-transform: uppercase;
  }

  .header__scroll {
    display: none;
  }
}
