.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;
  background: url("../img/header-background-2.jpg") no-repeat;
  background-size: cover;
  min-height: 100vh;
  user-select: none;

  .header__menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 14px;
    background: url("../img/icon-menu-open.svg") no-repeat;
  }

  .header__logo-wrapper {
    position: relative;

    &::after {
      @include pseudo;
      top: 10px;
      left: 24.5px;
      width: 33px;
      border-top: 3px solid $woody;
    }
  }

  .header__logo {
    @include reset-link;
    @include font($name: $bold-font, $size: $logo-fsize * 0.6, $color: white);
    text-transform: uppercase;
    transition: all 350ms;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .header__menu {
    @include flex-column;
    justify-content: center;
    align-items: center;
  }

  .header__nav {
    display: none;
  }

  .nav-menu--nojs {
    display: block;
  }

  .header__nav--slide-down {
    display: block;
    width: 100%;
    filter: brightness(0.5);

    .header__nav-list {
      @include flex-column;
      align-items: center;
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);

      @supports (-moz-appearance: none) {
        top: 0;
      }
    }

    .header__nav-item {
      margin-top: 10px;
    }

    .header__nav-link {
      font-size: 20px;
    }
  }

  .header__menu-toggle--closed {
    height: 20px;
    background: url("../img/icon-menu-close.svg") no-repeat;
  }

  .header__nav-list {
    @include reset-list;
  }

  .header__nav-link {
    display: block;
    @include reset-link;
    @include font($name: $bold-font, $size: $menu-fsize * 0.6, $color: #ffffff);
    opacity: 0.5;
    text-transform: uppercase;
    transition: opacity 250ms;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 1;
    }
  }

  .header__info-lang {
    @include flex-row;
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .header__info-btn {
    display: inline-block;
    height: 23px;
    width: 23px;
    margin-right: 5px;
    background: url("../img/ic-info.png") no-repeat;
  }

  .header__lang-list {
    @include reset-list;
  }

  .header__lang-item {
    &:not(:first-child) {
      display: none;
    }
  }

  .header__jumbo {
    margin-top: 100px;
  }

  .header__jumbo-wrapper {
    @include flex-column;
    justify-content: center;
    align-items: center;
  }

  .header__title {
    @include font($name: $bold-font, $size: $header-fsize * 0.5, $color: $woody);
    margin-bottom: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .header__link {
    margin-bottom: 50px;
  }

  .header__scroll {
    @include flex-column;
    align-items: center;
  }

  .header__scroll-icon {
    display: block;
    width: 20px;
    height: 30px;
    margin-bottom: 10px;
    background: url("../img/ic-mouse.png") no-repeat;
  }

  .header__scroll-arrow {
    display: block;
    width: 11px;
    height: 74px;
    background: url("../img/ic-arrow-down.png") no-repeat;
  }

  .header__scroll-caption {
    @include font($name: $bold-font, $size: 10px, $color: #ffffff);
    text-transform: uppercase;
    opacity: 0.1;
    transform: rotate(90deg) translateX(25px);
  }
}

@media (min-width: $tablet) {
  .header {
    position: relative;
    min-height: auto;
    padding-bottom: 100px;

    .header__nav {
      display: block;
    }

    .header__menu-toggle {
      display: none;
    }

    .header__menu {
      @include flex-row;
      justify-content: center;
      padding: 10px;
      justify-content: flex-start;
    }

    .header__logo-wrapper {
      margin-left: 33.333%;

      &::after {
        top: 10px;
        left: 35px;
        width: 45px;
      }
    }

    .header__logo {
      font-size: $logo-fsize * 0.8;
      letter-spacing: 3px;
    }

    .header__nav-list {
      @include flex-row;
    }

    .header__nav-item {
      margin-left: 20px;
    }

    .header__nav-link {
      font-size: $menu-fsize * 0.8;
    }

    .header__info-lang {
      top: 20px;
      right: 20px;
    }

    .header__info-btn {
      margin-right: 10px;
    }

    .header__jumbo {
      width: auto;
      margin-top: 75px;
    }

    .header__jumbo-wrapper {
      position: relative;
      justify-content: flex-start;
      align-items: flex-start;
      width: 33.333%;
      margin-left: 33.333%;


      &::after {
        display: block;
        content: "Furniture & decor";
        position: absolute;
        top: 275px;
        right: -200px;
        font-size: 10px;
        color: $woody;
        opacity: 0.2;
        text-transform: uppercase;
        transform: rotate(90deg);
      }
    }

    .header__title {
      margin-bottom: 75px;
      font-size: $header-fsize * 0.8;
      letter-spacing: 7.5px;
    }

    .header__link {
      margin-bottom: 20px;
    }

    .header__scroll {
      align-items: flex-start;
    }

    .header__scroll-arrow {
      margin-left: 4px;
    }

    .header__scroll-caption {
      transform: rotate(90deg) translateX(25px) translateY(12px);
    }
  }
}

@media (min-width: $desktop) {
  .header {
    margin: 0 auto;
    max-width: 1680px;
    background-image: url("../img/header-background-2.jpg"),
                url("../img/header-background-1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 75%;
    background-position: right 0 top 0, 0 0;

    .header__menu {
      padding: 20px;
    }

    .header__logo-wrapper {
      &::after {
        top: 10px;
        left: 45px;
        width: 60px;
      }
    }

    .header__logo {
      font-size: $logo-fsize;
      letter-spacing: 5px;
    }

    .header__nav-link {
      font-size: $menu-fsize;
    }

    .header__info-lang {
      top: 30px;
    }

    .header__jumbo {
      margin-top: 100px;
    }

    .header__title {
      font-size: $header-fsize;
      letter-spacing: 10px;
    }
  }
}
