.video {
  position: relative;
  // min-height: 360px;
  padding: 20px 15px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url("../img/video-background-low.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    background-position: center;
    width: 100%;
    height: 100%;
    filter: brightness(0.1);
    // @include border(red);
  }

  .video__wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 50px 20px;
    border: 1px solid $woody;
    border-top-width: 2px;
    border-bottom-width: 2px;

    &::before {
      display: none;
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 400px;
      height: 300px;
      z-index: 10;
      // @include border(white);
      background-image: url("../img/ic-play-big2.png");
      background-repeat: no-repeat;
      background-size: 300px;
      background-position: center;
      transform: translateY(-50%);
    }
  }

  .video__desc-wrapper {
    @include flex-column;
  }

  .video__title {
    @include font($name: $bold-font, $size: $title-fsize * 0.6, $color: $woody);
    position: relative;
    color: $woody;
    text-transform: uppercase;
    margin-left: 50px;
    margin-bottom: 50px;

    &::before {
      @include long-dash(50px);
      border-color: white;
      top: 50%;
      left: -60px;
    }
  }

  .video__text {
    position: relative;
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: $text-fsize * 0.8;
    color: #ffffff;

    &::before {
      @include short-dash(25px);
      top: 10px;
      left: -36px;
    }
  }

  .video__watch-btn {
    // margin-left: 90px;
    align-self: center;
    font-size: $button-fsize * 0.6;

    @media (min-width: 468px) {
      margin-left: 90px;
      align-self: auto;
    }
  }
}

@media (min-width: $tablet) {
  .video {

    padding: 50px 50px;

    &::before {
      background-size: 1680px 1260px;
    }

    .video__wrapper {
      &::before {
        display: block;
      }
    }

    .video__title {
      margin-left: 90px;
      font-size: $title-fsize * 0.8;
      line-height: 35px;
    }

    .video__text {
      max-width: 50%;
      margin-left: 90px;
      font-size: $text-fsize * 0.9;
    }

    .video__watch-btn {
      // font-size: $button-fsize * 0.8;
    }
  }
}

@media (min-width: $desktop) {
  .video {
    margin: 0 auto;
    max-width: 1680px;
    
    .video__wrapper {
      &::before {
        width: 600px;
        height: 500px;
        background-size: 500px;
      }
    }

    .video__title {
      font-size: $title-fsize;
      line-height: 35px;
    }

    .video__text {
      font-size: $text-fsize;
    }

    .video__watch-btn {
      // font-size: $button-fsize;
    }
  }
}
